@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebSite By SanSuySup</h1>
    <p>Learn about <a href="">Web apps with ASP.NET Core</a>.</p>
    <h1>Đã Test oke với git và deploye trên azure, tiếc là chỉ có 1gb để làm thoi =)). cay</h1>
</div>
