@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebSite By SanSuySup</h1>
    
    <h1 class="display-4">Đã Test oke với git và deploye trên azure, tiếc là chỉ có 1gb để làm thoi =)). cay</h1>
</div>
